@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes endlessPopIn {
    0%,
    100% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.95);
        opacity: 0.75;
    }
}
